.input_option {
    display: flex;
    align-items: center;
    gap: 1em;
    transition: all 0.2 ease-in-out;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.input_option h5 {
    color: gray
}

.input_option:hover {
    background-color: whitesmoke;
}