.post {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.post_header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.post_header_info {
  line-height: 1.05;
}

.post_header_info > p {
  color: gray;
  font-weight: lighter;
}
.post_header_info > h2 {
  font-size: 15px;
  font-weight: bold;
}

/* Post body */
.post_body {
  margin-left: 1em;
}

/* Post buttons */
.post_buttons {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
